---
layout: default
---
<div class="container content post">
  <h3>
    <strong>{{ page.title }}</strong><br/>
    {% assign post_date = page.date | date: '%A, %B %-d, %Y' %}
    {% assign post_time = page.time | default: "1pm - 2pm" %}
    <small>{{ post_date | append: ", " | append: post_time}}</small><br/>
    <small>Location: {{ page.location }}</small><br/> 
    {% if page.registration %}
      <small>Registration Link: <a href="{{ page.registration }}">{{ page.registration }}</a></small>
    {% endif %}
  </h3>
  <hr>
  {{ content }}
</div>
